In [2]:
import pandas as pd
from IPython.display import display
customers = pd.read_csv("../../data/raw/olist_customers_dataset.csv")
geolocation = pd.read_csv("../../data/raw/olist_geolocation_dataset.csv")
order_items = pd.read_csv("../../data/raw/olist_order_items_dataset.csv")
order_payments = pd.read_csv("../../data/raw/olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("../../data/raw/olist_order_reviews_dataset.csv")
orders = pd.read_csv("../../data/raw/olist_orders_dataset.csv")
products = pd.read_csv("../../data/raw/olist_products_dataset.csv")
sellers = pd.read_csv("../../data/raw/olist_sellers_dataset.csv")

# display(customers.head(1))
# display(geolocation.head(1))
display(order_items.head(1))
# display(order_payments.head(1))
# display(order_reviews.head(1))
display(orders.head(1))
display(products.head(1))
display(sellers.head(1))

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

In [ ]:
# sellers tem o mesmo seller_id que order_items que contem tamb√©m o order_id e o price

In [ ]:
import pandas as pd
from IPython.display import display

path_order = '../data/filtred/orders_filtred.csv'
path_customers = '../data/raw/olist_customers_dataset.csv'

orders_filtred = pd.read_csv(path_order, sep=',')
customers = pd.read_csv(path_customers, sep=',')