## ⚙️ Instalacoes de depêndencias e leitura de arquivos

In [129]:
import pandas as pd
from IPython.display import display


path_customers = 'C:/Users/Gioher/Desktop/Programação/Projetos/complete-data-analysis-ecommerce/data/filtred/customers_filtred.csv'
path_orders = 'C:/Users/Gioher/Desktop/Programação/Projetos/complete-data-analysis-ecommerce/data/filtred/orders_filtred.csv'
delayed_orders = 'C:/Users/Gioher/Desktop/Programação/Projetos/complete-data-analysis-ecommerce/data/metrics/delayed_orders.csv'


customers_filtred = pd.read_csv(path_customers, sep=',')
orders_filtred = pd.read_csv(path_orders, sep=',')
delayed_orders = pd.read_csv(delayed_orders, sep=',')

In [130]:
display(customers_filtred.head(2))
display(orders_filtred.head(2))

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

,Unnamed: 0,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13

# ⚙️ Merge nos dois dataframes para extrair a cidade da qual foi realizada a ordem de compra

In [131]:
merged_datas = pd.merge(customers_filtred, orders_filtred, on='customer_id', how='inner')

In [132]:
display(merged_datas.head(2))

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,Unnamed: 0,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,88492,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,90418,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06

In [133]:
# Filtrando apenas linhas com siglas de estado com exatamente 2 letras
merged_datas = merged_datas[merged_datas['customer_state'].str.len() == 2]

In [134]:
#Tabela com pedidos atrasados sendo 7827 no total
display(delayed_orders.shape)

(7827, 8)

In [135]:
display(delayed_orders.head(3))

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,delivered,2017-09-18 14:31:30,2017-09-19 04:04:09,2017-10-06 17:50:03,2017-10-09 22:23:46,2017-09-28
1,fbf9ac61453ac646ce8ad9783d7d0af6,3a874b4d4c4b6543206ff5d89287f0c3,delivered,2018-02-20 23:46:53,2018-02-22 02:30:46,2018-02-26 22:25:22,2018-03-21 22:03:54,2018-03-12
2,8563039e855156e48fccee4d611a3196,5f16605299d698660e0606f7eae2d2f9,delivered,2018-02-17 15:59:46,2018-02-17 16:15:34,2018-02-20 23:03:56,2018-03-20 00:59:25,2018-03-20

In [136]:
#Filtrando o merged_datas para obter apenas os pedidos atrasados
filtred_delayed = merged_datas[merged_datas['order_id'].isin(delayed_orders['order_id'])]

In [137]:
display(filtred_delayed.head(4))

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,Unnamed: 0,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,22557,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13
18,9b8ce803689b3562defaad4613ef426f,7f3a72e8f988c6e735ba118d54f47458,5416,sao paulo,SP,31091,17825f24877a9289214c301ae0c9424b,delivered,2017-05-11 13:48:47,2017-05-13 11:55:16,2017-05-15 15:30:02,2017-06-07 12:02:14,2017-05-30
33,b2bed119388167a954382cca36c4777f,e079b18794454de9d2be5c12b4392294,27525,resende,RJ,9616,77b062be7c5bd21712905feb8e1cfeed,delivered,2017-06-14 18:31:54,2017-06-15 18:43:04,2017-06-22 08:11:38,2017-07-07 20:32:47,2017-07-07
59,a905baa530258422594f1b05615bd225,c80da60feddb7cf8325bd104032e314a,60140,fortaleza,CE,60848,4f0695330f3816ef294bf1f4b18f4f2e,delivered,2018-03-29 21:28:04,2018-03-29 21:35:20,2018-04-12 23:36:29,2018-05-08 16:52:07,2018-04-23

In [138]:
#Filtrando pedidos por estado
orders_by_state = merged_datas.groupby('customer_state')['order_id'].count().sort_values(ascending=False)

display(orders_by_state.head(4))

customer_state
SP    41667
RJ    12832
MG    11619
RS     5456
Name: order_id, dtype: int64

In [139]:
#Filtrando pedidos atrasados por estado
delayed_orders_by_state = filtred_delayed.groupby('customer_state')['order_id'].count().sort_values(ascending=False)
display(delayed_orders_by_state.head(10))

customer_state
SP    2387
RJ    1664
MG     638
BA     457
RS     382
SC     346
PR     246
ES     244
CE     196
PE     172
Name: order_id, dtype: int64

In [140]:
df_percentual = pd.DataFrame({
    'total_orders': orders_by_state,
    'delayed_orders': delayed_orders_by_state
})
df_percentual = df_percentual[df_percentual.index.str.len() == 2]
display(df_percentual)

                total_orders  delayed_orders
customer_state
AC                        81               3
AL                       412              95
AM                       148               6
AP                        68               3
BA                      3378             457
CE                      1332             196
DF                      2137             147
ES                      2031             244
GO                      2018             160
MA                       746             141
MG                     11619             638
MS                       715              81
MT                       907              60
PA                       972             117
PB                       535              57
PE                      1652             172
PI                       494              76
PR                      5038             246
RJ                     12832            1664
RN                       485              51
RO                       252               7
RR                        46               5
RS                      5456             382
SC                      3631             346
SE                       349              51
SP                     41667            2387
TO                       280              35

In [141]:
# Preenchendo os NaNs com 0 caso alguma cidade não tenha pedidos atrasados
df_percentual['delayed_orders'] = df_percentual['delayed_orders'].fillna(0)
display(df_percentual)

                total_orders  delayed_orders
customer_state
AC                        81               3
AL                       412              95
AM                       148               6
AP                        68               3
BA                      3378             457
CE                      1332             196
DF                      2137             147
ES                      2031             244
GO                      2018             160
MA                       746             141
MG                     11619             638
MS                       715              81
MT                       907              60
PA                       972             117
PB                       535              57
PE                      1652             172
PI                       494              76
PR                      5038             246
RJ                     12832            1664
RN                       485              51
RO                       252               7
RR                        46               5
RS                      5456             382
SC                      3631             346
SE                       349              51
SP                     41667            2387
TO                       280              35

In [142]:
#Calculando a porcentagem de atrasados
df_percentual['delayed_percent'] = (df_percentual['delayed_orders'] / df_percentual['total_orders']) * 100

display(df_percentual)

                total_orders  delayed_orders  delayed_percent
customer_state
AC                        81               3         3.703704
AL                       412              95        23.058252
AM                       148               6         4.054054
AP                        68               3         4.411765
BA                      3378             457        13.528715
CE                      1332             196        14.714715
DF                      2137             147         6.878802
ES                      2031             244        12.013786
GO                      2018             160         7.928642
MA                       746             141        18.900804
MG                     11619             638         5.491006
MS                       715              81        11.328671
MT                       907              60         6.615215
PA                       972             117        12.037037
PB                       535              57        10.654206
PE                      1652             172        10.411622
PI                       494              76        15.384615
PR                      5038             246         4.882890
RJ                     12832            1664        12.967581
RN                       485              51        10.515464
RO                       252               7         2.777778
RR                        46               5        10.869565
RS                      5456             382         7.001466
SC                      3631             346         9.529055
SE                       349              51        14.613181
SP                     41667            2387         5.728754
TO                       280              35        12.500000

In [143]:
# Ordenando pela maior porcentagem de atrasos
percentual_delayed_by_state = df_percentual.sort_values(by='delayed_percent', ascending=False)

In [144]:
display(percentual_delayed_by_state.head(10))

                total_orders  delayed_orders  delayed_percent
customer_state
AL                       412              95        23.058252
MA                       746             141        18.900804
PI                       494              76        15.384615
CE                      1332             196        14.714715
SE                       349              51        14.613181
BA                      3378             457        13.528715
RJ                     12832            1664        12.967581
TO                       280              35        12.500000
PA                       972             117        12.037037
ES                      2031             244        12.013786

In [150]:
#Exportando csv de df_percentual

percentual_delayed_by_state['delayed_percent'] = percentual_delayed_by_state['delayed_percent'] / 100


percentual_delayed_by_state['delayed_percent'] = percentual_delayed_by_state['delayed_percent'].round(4)


percentual_delayed_by_state.to_csv('percentual_delayed_by_state.csv', sep=',', decimal=',')